<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Usuario</label>
                <input id="username" name="username" type="text" required />
            </div>

            <div>
                <label for="password" >Senha</label>
                <input id="password" name="password" type="password" required />
            </div>

            <div>
                <button type="submit">
                    Sign In
                </button>
            </div>
        </form>
        
        <div>
            <p>
                Primeiro acesso?
                <a th:href="@{/register}">
                    Cadastre-se aqui
                </a>
            </p>
        </div>
</body>
</html>